/* modal para mostrar uma noticia */

.modal-noticia {
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: var(--color-bg-primary);
  min-height: 100vh;
  z-index: 2000;
  animation: showModal 0.2s ease-out forwards;
}

.modal-noticia.hide {
  animation: hideModal 0.2s ease-out forwards;
}

.modal-noticia-header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-text-secondary);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  padding: 0 3vh 0 3vh;
}

.modal-noticia-header p {
  font-size: var(--font-size-md);
}

.modal-noticia-header .icon-close {
  font-size: 30px;
  color: var(--color-text-dark);
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.modal-noticia-body {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.conteiner-central-noticia {
  display: flex;
  height: max-content;
  flex-direction: column;
  width: 50vw;
  margin-top: 2vh;
  margin-bottom: 15vh;
  gap: 1rem;
}

.conteiner-central-noticia .name-author {
  font-weight: var(--font-weight-bold);
}

.conteiner-central-noticia .published-at {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-sm);
}

.conteiner-central-noticia .description {
  font-weight: lighter;
  text-align: justify;
  text-indent: 2px;
}

.conteiner-central-noticia .related-news {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}

.conteiner-central-noticia h1 {
  font-style: normal;
  text-align: justify;
  color: black;
}

.conteiner-central-noticia > img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

body.modal-aberto {
  overflow: hidden;
}

.text-with-bars {
  display: flex;
  align-items: center;
  a {
    padding: 10px;
    border-radius: var(--border-radius-md);
    border: none;
    background-color: var(--color-bg-secondary);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;

    &:hover {
      color: var(--color-text-dark);
    }

    i {
      font-size: var(--font-size-md);
    }
  }
}

.text-with-bars::before,
.text-with-bars::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-text-secondary);
  margin: 0 10px;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .conteiner-central-noticia {
    width: 60vw;
  }
}

/* Quando a tela for menor que 992px */
@media screen and (max-width: 992px) {
  .conteiner-central-noticia {
    width: 70vw;
  }
}

/* Quando a tela for menor que 768px */
@media screen and (max-width: 768px) {
  .conteiner-central-noticia {
    width: 85vw;
  }
  .conteiner-central-noticia h1 {
    font-size: 33px;
  }
  .conteiner-central-noticia .name-author {
    font-size: 13px;
  }
  .modal-noticia-header p {
    font-size: var(--font-size-sm);
  }
}

/* Quando a tela for menor que 480px (celulares menores) */
@media screen and (max-width: 480px) {
  .conteiner-central-noticia {
    width: 90vw; /* Em telas pequenas, ocupa toda a largura */
  }
  .conteiner-central-noticia h1 {
    font-size: 30px;
  }
  .conteiner-central-noticia .name-author {
    font-size: 12px;
  }
  .modal-noticia-header p {
    display: none;
  }
}
